docs/dify-workflow-规则抽取-异步.yml
app:
  description: 上传多文件 → 提取文本 → 异步提交规则梳理后端，秒回 batch_id（抽取在后台进行，规则到网页后台或用 rules_url 获取）。Cloudflare 友好，无长请求。
  icon: ⚖️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 规则抽取（异步·多文件）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      - .JPG
      - .JPEG
      - .PNG
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 10
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: true
        number_limits: 5
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1780000000101-source-1780000000102-target
      source: '1780000000101'
      sourceHandle: source
      target: '1780000000102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: document-extractor
        targetType: http-request
      id: 1780000000102-source-1780000000103-target
      source: '1780000000102'
      sourceHandle: source
      target: '1780000000103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1780000000103-source-1780000000104-target
      source: '1780000000103'
      sourceHandle: source
      target: '1780000000104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1780000000104-source-1780000000105-target
      source: '1780000000104'
      sourceHandle: source
      target: '1780000000105'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 上传文件（可多选）
          options: []
          required: true
          type: file-list
          variable: files
      height: 116
      id: '1780000000101'
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 把上传的 PDF/Word/TXT 提取为纯文本（多文件自动合并）
        is_array_file: true
        selected: false
        title: 提取文档文本
        type: document-extractor
        variable_selector:
        - '1780000000101'
        - files
      height: 92
      id: '1780000000102'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 9a2b4c6d-1e2f-4a5b-8c9d-0e1f2a3b4c5d
            key: text
            type: text
            value: '{{#1780000000102.text#}}'
          type: form-data
        desc: 异步提交抽取，秒回 batch_id（不阻塞，Cloudflare 不会超时）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 60
          max_write_timeout: 30
        title: 提交抽取(异步)
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/upload
        variables: []
      height: 130
      id: '1780000000103'
      position:
        x: 670
        y: 300
      positionAbsolute:
        x: 670
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str) -> dict:
              base = "https://api-rules.448898.xyz"
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  return {"batch_id": "", "status_url": "", "rules_url": "", "ok": False}
              bid = str(data.get("batch_id", ""))
              if not bid:
                  return {"batch_id": "", "status_url": "", "rules_url": "", "ok": False}
              return {
                  "batch_id": bid,
                  "status_url": base + "/api/dify/batches/" + bid + "/status",
                  "rules_url": base + "/api/dify/batches/" + bid + "/rules.json",
                  "ok": True,
              }
        code_language: python3
        desc: 取出 batch_id，拼出查状态/取规则的地址
        outputs:
          batch_id:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          rules_url:
            children: null
            type: string
          status_url:
            children: null
            type: string
        selected: false
        title: 解析batch_id
        type: code
        variables:
        - value_selector:
          - '1780000000103'
          - body
          variable: arg1
      height: 52
      id: '1780000000104'
      position:
        x: 990
        y: 300
      positionAbsolute:
        x: 990
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780000000104'
          - batch_id
          value_type: string
          variable: batch_id
        - value_selector:
          - '1780000000104'
          - status_url
          value_type: string
          variable: status_url
        - value_selector:
          - '1780000000104'
          - rules_url
          value_type: string
          variable: rules_url
        selected: false
        title: 结束
        type: end
      height: 144
      id: '1780000000105'
      position:
        x: 1310
        y: 300
      positionAbsolute:
        x: 1310
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
