docs/dify-workflow-规则抽取-双模式.yml
app:
  description: 上传文件 → 提取文本 → 调规则梳理后端抽取法律规则。双模式：快速同步（1-2个中小文件，直接返回规则 JSON+Markdown 报告，含假定条件/行为模式/法律后果三要素）；后台批量（异步秒回 batch_id，Cloudflare 友好，规则到网页后台或用 rules_url 获取）。
  icon: ⚖️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 规则抽取（同步+异步双模式）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 10
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 5
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1781000000101-source-1781000000102-target
      source: '1781000000101'
      sourceHandle: source
      target: '1781000000102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: document-extractor
        targetType: if-else
      id: 1781000000102-source-1781000000103-target
      source: '1781000000102'
      sourceHandle: source
      target: '1781000000103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1781000000103-true-1781000000104-target
      source: '1781000000103'
      sourceHandle: 'true'
      target: '1781000000104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: if-else
        targetType: http-request
      id: 1781000000103-false-1781000000107-target
      source: '1781000000103'
      sourceHandle: 'false'
      target: '1781000000107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1781000000104-source-1781000000105-target
      source: '1781000000104'
      sourceHandle: source
      target: '1781000000105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000105-source-1781000000106-target
      source: '1781000000105'
      sourceHandle: source
      target: '1781000000106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1781000000107-source-1781000000108-target
      source: '1781000000107'
      sourceHandle: source
      target: '1781000000108'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1781000000108-source-1781000000109-target
      source: '1781000000108'
      sourceHandle: source
      target: '1781000000109'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 上传文件（可多选）
          options: []
          required: true
          type: file-list
          variable: files
        - label: 处理模式
          options:
          - 快速出结果（同步·适合1-2个中小文件）
          - 后台批量（异步·多文件/大文件）
          required: true
          type: select
          variable: mode
      height: 168
      id: '1781000000101'
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 把上传的 PDF/Word/TXT 提取为纯文本（多文件自动合并）
        is_array_file: true
        selected: false
        title: 提取文档文本
        type: document-extractor
        variable_selector:
        - '1781000000101'
        - files
      height: 92
      id: '1781000000102'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f
            value: 同步
            varType: string
            variable_selector:
            - '1781000000101'
            - mode
          id: 'true'
          logical_operator: and
        desc: 同步=直接出规则报告；异步=秒回batch_id后台抽取
        selected: false
        title: 模式分流
        type: if-else
      height: 124
      id: '1781000000103'
      position:
        x: 670
        y: 300
      positionAbsolute:
        x: 670
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 3f8e2a1b-5c6d-4e7f-9a0b-1c2d3e4f5a6b
            key: text
            type: text
            value: '{{#1781000000102.text#}}'
          type: form-data
        desc: 同步抽取：阻塞到完成直接返回规则 JSON（仅适合1-2个中小文件；多文件请走异步）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 600
          max_write_timeout: 60
        title: 同步抽取
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/extract
        variables: []
      height: 130
      id: '1781000000104'
      position:
        x: 990
        y: 160
      positionAbsolute:
        x: 990
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str) -> dict:
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  return {
                      "ok": False,
                      "batch_id": "",
                      "total_rules": 0,
                      "rules_json": "[]",
                      "report_markdown": (
                          "# 规则抽取失败\n\n后端未返回有效 JSON。"
                          "可能原因：任务超过网关时长被掐断（请改用『后台批量（异步）』模式）、"
                          "或后端异常。原始返回（前500字）：\n\n```\n" + text[:500] + "\n```"
                      ),
                  }

              rules = data.get("rules") or []
              batch_id = str(data.get("batch_id", ""))
              status = str(data.get("status", ""))
              total = len(rules)

              risk_order = {"高": 0, "中": 1, "低": 2}
              rules_sorted = sorted(
                  rules,
                  key=lambda r: risk_order.get(str(r.get("risk_level", "中")), 1),
              )
              by_risk = {"高": 0, "中": 0, "低": 0}
              for r in rules:
                  lv = str(r.get("risk_level", "中"))
                  by_risk[lv] = by_risk.get(lv, 0) + 1

              lines = []
              lines.append("# 规则抽取报告")
              lines.append("")
              lines.append("- 批次：`" + batch_id + "`（状态：" + status + "）")
              lines.append(
                  "- 规则总数：**" + str(total) + "**"
                  "（高 " + str(by_risk.get("高", 0))
                  + " / 中 " + str(by_risk.get("中", 0))
                  + " / 低 " + str(by_risk.get("低", 0)) + "）"
              )
              lines.append(
                  "- 网页后台：https://api-rules.448898.xyz （可查看本批次、导出 CSV、生成 Skill）"
              )
              lines.append("")

              high = [r for r in rules_sorted if str(r.get("risk_level")) == "高"]
              rest = [r for r in rules_sorted if str(r.get("risk_level")) != "高"]

              if high:
                  lines.append("## 一、高风险规则（含三要素）")
                  lines.append("")
                  for i, r in enumerate(high[:100], 1):
                      lines.append(
                          "### " + str(i) + ". " + str(r.get("check_item", ""))
                          + "（`" + str(r.get("rule_id", "")) + "`）"
                      )
                      lines.append("")
                      lines.append("- **审查要求**：" + str(r.get("requirement", "")))
                      if r.get("assumption"):
                          lines.append("- **假定条件**：" + str(r.get("assumption", "")))
                      if r.get("behavior_mode"):
                          lines.append("- **行为模式**：" + str(r.get("behavior_mode", "")))
                      if r.get("consequence"):
                          lines.append("- **法律后果**：" + str(r.get("consequence", "")))
                      if r.get("notes"):
                          lines.append("- 说明：" + str(r.get("notes", "")))
                      lines.append(
                          "- 来源：" + str(r.get("source_file", ""))
                          + "｜置信 " + str(round(float(r.get("combined_confidence", 0) or 0), 2))
                      )
                      lines.append("")

              if rest:
                  lines.append("## 二、中/低风险规则一览")
                  lines.append("")
                  lines.append("| # | 风险 | 检查项 | 审查要求 | 法律后果 |")
                  lines.append("|---|---|---|---|---|")
                  for i, r in enumerate(rest[:200], 1):
                      req = str(r.get("requirement", "")).replace("|", "／").replace("\n", " ")
                      cons = str(r.get("consequence", "")).replace("|", "／").replace("\n", " ")
                      ci = str(r.get("check_item", "")).replace("|", "／")
                      lines.append(
                          "| " + str(i) + " | " + str(r.get("risk_level", ""))
                          + " | " + ci + " | " + req[:120] + " | " + cons[:80] + " |"
                      )
                  if len(rest) > 200:
                      lines.append("")
                      lines.append("（其余 " + str(len(rest) - 200) + " 条见 rules_json 或网页后台）")
                  lines.append("")

              if total == 0:
                  lines.append("> 本批未抽取到规则。可能输入为纯背景性文本，")
                  lines.append("> 或被忠实度/占位门拦截——到网页后台查看 skipped/placeholders 明细。")

              return {
                  "ok": status in ("success", "partial"),
                  "batch_id": batch_id,
                  "total_rules": total,
                  "rules_json": json.dumps(rules, ensure_ascii=False),
                  "report_markdown": "\n".join(lines),
              }
        code_language: python3
        desc: 解析规则 JSON → 生成含三要素的 Markdown 报告
        outputs:
          batch_id:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          report_markdown:
            children: null
            type: string
          rules_json:
            children: null
            type: string
          total_rules:
            children: null
            type: number
        selected: false
        title: 生成规则报告
        type: code
        variables:
        - value_selector:
          - '1781000000104'
          - body
          variable: arg1
      height: 52
      id: '1781000000105'
      position:
        x: 1310
        y: 160
      positionAbsolute:
        x: 1310
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000105'
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - '1781000000105'
          - rules_json
          value_type: string
          variable: rules_json
        - value_selector:
          - '1781000000105'
          - total_rules
          value_type: number
          variable: total_rules
        - value_selector:
          - '1781000000105'
          - batch_id
          value_type: string
          variable: batch_id
        selected: false
        title: 结束（同步报告）
        type: end
      height: 168
      id: '1781000000106'
      position:
        x: 1630
        y: 160
      positionAbsolute:
        x: 1630
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 9a2b4c6d-1e2f-4a5b-8c9d-0e1f2a3b4c5d
            key: text
            type: text
            value: '{{#1781000000102.text#}}'
          type: form-data
        desc: 异步提交抽取，秒回 batch_id（不阻塞，Cloudflare 不会超时）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 60
          max_write_timeout: 30
        title: 提交抽取（异步）
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/upload
        variables: []
      height: 130
      id: '1781000000107'
      position:
        x: 990
        y: 460
      positionAbsolute:
        x: 990
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str) -> dict:
              base = "https://api-rules.448898.xyz"
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  data = {}
              bid = str(data.get("batch_id", ""))
              if not bid:
                  return {
                      "ok": False,
                      "batch_id": "",
                      "status_url": "",
                      "rules_url": "",
                      "report_markdown": (
                          "# 提交失败\n\n后端未返回 batch_id。原始返回（前500字）：\n\n```\n"
                          + text[:500] + "\n```"
                      ),
                  }
              status_url = base + "/api/dify/batches/" + bid + "/status"
              rules_url = base + "/api/dify/batches/" + bid + "/rules.json"
              md = "\n".join([
                  "# 已提交后台抽取",
                  "",
                  "- 批次：`" + bid + "`",
                  "- 抽取正在后台进行，本工作流不阻塞等待。",
                  "",
                  "## 获取结果的三种方式",
                  "",
                  "1. 网页后台（推荐）：https://api-rules.448898.xyz —— 实时进度、规则预览、CSV 导出、生成 Skill",
                  "2. 查状态：`GET " + status_url + "`（status=success/partial 即完成）",
                  "3. 取规则：`GET " + rules_url + "`（完成后返回规则 JSON；进行中返回 409）",
              ])
              return {
                  "ok": True,
                  "batch_id": bid,
                  "status_url": status_url,
                  "rules_url": rules_url,
                  "report_markdown": md,
              }
        code_language: python3
        desc: 取出 batch_id，拼查状态/取规则地址 + 使用说明
        outputs:
          batch_id:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          report_markdown:
            children: null
            type: string
          rules_url:
            children: null
            type: string
          status_url:
            children: null
            type: string
        selected: false
        title: 解析batch_id
        type: code
        variables:
        - value_selector:
          - '1781000000107'
          - body
          variable: arg1
      height: 52
      id: '1781000000108'
      position:
        x: 1310
        y: 460
      positionAbsolute:
        x: 1310
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1781000000108'
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - '1781000000108'
          - batch_id
          value_type: string
          variable: batch_id
        - value_selector:
          - '1781000000108'
          - status_url
          value_type: string
          variable: status_url
        - value_selector:
          - '1781000000108'
          - rules_url
          value_type: string
          variable: rules_url
        selected: false
        title: 结束（异步回执）
        type: end
      height: 168
      id: '1781000000109'
      position:
        x: 1630
        y: 460
      positionAbsolute:
        x: 1630
        y: 460
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
