docs/dify-workflow-规则抽取-简化版.yml
app:
  description: 上传文件 → 提取文本 → 同步调规则梳理后端抽取法律规则 → 输出 result_json（供前端渲染：汇总+完整规则数组）+ report_markdown（人读报告，含假定条件/行为模式/法律后果三要素）。
  icon: ⚖️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 规则抽取
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 10
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 5
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1782000000101-source-1782000000102-target
      source: '1782000000101'
      sourceHandle: source
      target: '1782000000102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: document-extractor
        targetType: http-request
      id: 1782000000102-source-1782000000103-target
      source: '1782000000102'
      sourceHandle: source
      target: '1782000000103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1782000000103-source-1782000000104-target
      source: '1782000000103'
      sourceHandle: source
      target: '1782000000104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1782000000104-source-1782000000105-target
      source: '1782000000104'
      sourceHandle: source
      target: '1782000000105'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 上传文件（可多选）
          options: []
          required: true
          type: file-list
          variable: files
      height: 116
      id: '1782000000101'
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 把上传的 PDF/Word/TXT 提取为纯文本（多文件自动合并）
        is_array_file: true
        selected: false
        title: 提取文档文本
        type: document-extractor
        variable_selector:
        - '1782000000101'
        - files
      height: 92
      id: '1782000000102'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 3f8e2a1b-5c6d-4e7f-9a0b-1c2d3e4f5a6b
            key: text
            type: text
            value: '{{#1782000000102.text#}}'
          type: form-data
        desc: 同步抽取：阻塞到完成直接返回规则 JSON（文件很大/很多导致超时的话，原始返回会是网关错误页，下游 code 节点会兜底提示）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 1
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 600
          max_write_timeout: 60
        title: 同步抽取
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/extract
        variables: []
      height: 130
      id: '1782000000103'
      position:
        x: 670
        y: 300
      positionAbsolute:
        x: 670
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str) -> dict:
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  fail_json = json.dumps({
                      "ok": False,
                      "batch_id": "",
                      "status": "failed",
                      "total_rules": 0,
                      "by_risk": {"高": 0, "中": 0, "低": 0},
                      "rules": [],
                      "error": "后端未返回有效 JSON（多为网关超时掐断）",
                  }, ensure_ascii=False)
                  return {
                      "ok": False,
                      "batch_id": "",
                      "total_rules": 0,
                      "result_json": fail_json,
                      "report_markdown": (
                          "# 规则抽取失败\n\n后端未返回有效 JSON。"
                          "常见原因：文件过大/过多导致请求被网关超时掐断（约100秒）。\n\n"
                          "处理建议：减少单次文件数量，或到网页后台 "
                          "https://api-rules.448898.xyz 直接上传抽取。\n\n"
                          "原始返回（前500字）：\n\n```\n" + text[:500] + "\n```"
                      ),
                  }

              rules = data.get("rules") or []
              batch_id = str(data.get("batch_id", ""))
              status = str(data.get("status", ""))
              total = len(rules)

              risk_order = {"高": 0, "中": 1, "低": 2}
              rules_sorted = sorted(
                  rules,
                  key=lambda r: risk_order.get(str(r.get("risk_level", "中")), 1),
              )
              by_risk = {"高": 0, "中": 0, "低": 0}
              for r in rules:
                  lv = str(r.get("risk_level", "中"))
                  by_risk[lv] = by_risk.get(lv, 0) + 1

              # —— 给前端的结构化结果：汇总 + 精简规则数组（字段稳定，直接渲染）——
              slim_rules = []
              for r in rules_sorted:
                  slim_rules.append({
                      "rule_id": r.get("rule_id", ""),
                      "risk_level": r.get("risk_level", ""),
                      "check_item": r.get("check_item", ""),
                      "requirement": r.get("requirement", ""),
                      "notes": r.get("notes", ""),
                      "assumption": r.get("assumption", ""),
                      "behavior_mode": r.get("behavior_mode", ""),
                      "consequence": r.get("consequence", ""),
                      "exception_conditions": r.get("exception_conditions", ""),
                      "keywords": r.get("keywords", []),
                      "theme_key": r.get("theme_key", ""),
                      "rule_type": r.get("rule_type", ""),
                      "source_file": r.get("source_file", ""),
                      "source_excerpt": str(r.get("source_excerpt", ""))[:300],
                      "confidence": round(float(r.get("combined_confidence", 0) or 0), 2),
                      "conflict_flag": r.get("conflict_flag", "无"),
                      "output_target": r.get("output_target", "main"),
                  })
              result_json = json.dumps({
                  "ok": status in ("success", "partial"),
                  "batch_id": batch_id,
                  "status": status,
                  "total_rules": total,
                  "by_risk": by_risk,
                  "rules": slim_rules,
                  "error": None,
              }, ensure_ascii=False)

              # —— 给人看的 Markdown 报告 ——
              lines = []
              lines.append("# 规则抽取报告")
              lines.append("")
              lines.append("- 批次：`" + batch_id + "`（状态：" + status + "）")
              lines.append(
                  "- 规则总数：**" + str(total) + "**"
                  "（高 " + str(by_risk.get("高", 0))
                  + " / 中 " + str(by_risk.get("中", 0))
                  + " / 低 " + str(by_risk.get("低", 0)) + "）"
              )
              lines.append(
                  "- 网页后台：https://api-rules.448898.xyz （查看本批次、导出 CSV、生成 Skill）"
              )
              lines.append("")

              high = [r for r in rules_sorted if str(r.get("risk_level")) == "高"]
              rest = [r for r in rules_sorted if str(r.get("risk_level")) != "高"]

              if high:
                  lines.append("## 一、高风险规则（含三要素）")
                  lines.append("")
                  for i, r in enumerate(high[:100], 1):
                      lines.append(
                          "### " + str(i) + ". " + str(r.get("check_item", ""))
                          + "（`" + str(r.get("rule_id", "")) + "`）"
                      )
                      lines.append("")
                      lines.append("- **审查要求**：" + str(r.get("requirement", "")))
                      if r.get("assumption"):
                          lines.append("- **假定条件**：" + str(r.get("assumption", "")))
                      if r.get("behavior_mode"):
                          lines.append("- **行为模式**：" + str(r.get("behavior_mode", "")))
                      if r.get("consequence"):
                          lines.append("- **法律后果**：" + str(r.get("consequence", "")))
                      if r.get("notes"):
                          lines.append("- 说明：" + str(r.get("notes", "")))
                      lines.append(
                          "- 来源：" + str(r.get("source_file", ""))
                          + "｜置信 " + str(round(float(r.get("combined_confidence", 0) or 0), 2))
                      )
                      lines.append("")

              if rest:
                  lines.append("## 二、中/低风险规则一览")
                  lines.append("")
                  lines.append("| # | 风险 | 检查项 | 审查要求 | 法律后果 |")
                  lines.append("|---|---|---|---|---|")
                  for i, r in enumerate(rest[:200], 1):
                      req = str(r.get("requirement", "")).replace("|", "／").replace("\n", " ")
                      cons = str(r.get("consequence", "")).replace("|", "／").replace("\n", " ")
                      ci = str(r.get("check_item", "")).replace("|", "／")
                      lines.append(
                          "| " + str(i) + " | " + str(r.get("risk_level", ""))
                          + " | " + ci + " | " + req[:120] + " | " + cons[:80] + " |"
                      )
                  if len(rest) > 200:
                      lines.append("")
                      lines.append("（其余 " + str(len(rest) - 200) + " 条见 result_json 或网页后台）")
                  lines.append("")

              if total == 0:
                  lines.append("> 本批未抽取到规则。可能输入为纯背景性文本，")
                  lines.append("> 或被忠实度/占位门拦截——到网页后台查看 skipped/placeholders 明细。")

              return {
                  "ok": status in ("success", "partial"),
                  "batch_id": batch_id,
                  "total_rules": total,
                  "result_json": result_json,
                  "report_markdown": "\n".join(lines),
              }
        code_language: python3
        desc: 解析后端返回 → result_json（前端渲染）+ report_markdown（人读，含三要素）
        outputs:
          batch_id:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          report_markdown:
            children: null
            type: string
          result_json:
            children: null
            type: string
          total_rules:
            children: null
            type: number
        selected: false
        title: 生成结果
        type: code
        variables:
        - value_selector:
          - '1782000000103'
          - body
          variable: arg1
      height: 52
      id: '1782000000104'
      position:
        x: 990
        y: 300
      positionAbsolute:
        x: 990
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782000000104'
          - result_json
          value_type: string
          variable: result_json
        - value_selector:
          - '1782000000104'
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - '1782000000104'
          - total_rules
          value_type: number
          variable: total_rules
        - value_selector:
          - '1782000000104'
          - batch_id
          value_type: string
          variable: batch_id
        - value_selector:
          - '1782000000104'
          - ok
          value_type: boolean
          variable: ok
        selected: false
        title: 结束
        type: end
      height: 190
      id: '1782000000105'
      position:
        x: 1310
        y: 300
      positionAbsolute:
        x: 1310
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
