docs/dify-workflow-规则抽取.yml
app:
  description: 上传一个或多个法律文件，由 Dify 提取文本后调用「规则梳理工具」后端同步抽取结构化规则，直接输出规则 JSON。
  icon: ⚖️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 规则抽取（多文件上传）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      - .JPG
      - .JPEG
      - .PNG
      allowed_file_types:
      - document
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 10
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: true
        number_limits: 5
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1780000000001-source-1780000000002-target
      source: '1780000000001'
      sourceHandle: source
      target: '1780000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: document-extractor
        targetType: http-request
      id: 1780000000002-source-1780000000003-target
      source: '1780000000002'
      sourceHandle: source
      target: '1780000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1780000000003-source-1780000000004-target
      source: '1780000000003'
      sourceHandle: source
      target: '1780000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1780000000004-source-1780000000005-target
      source: '1780000000004'
      sourceHandle: source
      target: '1780000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 上传文件（可多选）
          options: []
          required: true
          type: file-list
          variable: files
      height: 116
      id: '1780000000001'
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 把上传的 PDF/Word/TXT 提取为纯文本（支持多文件，自动合并）
        is_array_file: true
        selected: false
        title: 提取文档文本
        type: document-extractor
        variable_selector:
        - '1780000000001'
        - files
      height: 92
      id: '1780000000002'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 7e1c0a2b-3d4e-4f50-9a61-b2c3d4e5f601
            key: text
            type: text
            value: '{{#1780000000002.text#}}'
          type: form-data
        desc: 调用规则梳理后端同步抽取（阻塞直到完成，直接返回规则）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 300
          max_write_timeout: 60
        title: 调用规则梳理(同步抽取)
        type: http-request
        url: https://rule-harness-demo.onrender.com/api/dify/extract
        variables: []
      height: 130
      id: '1780000000003'
      position:
        x: 670
        y: 300
      positionAbsolute:
        x: 670
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1: str) -> dict:\n    text = (arg1 or \"\"\
          ).strip()\n    try:\n        data = json.loads(text)\n    except Exception:\n\
          \        return {\"rules\": [], \"total\": 0, \"ok\": False}\n    if not\
          \ isinstance(data, dict):\n        return {\"rules\": [], \"total\": 0, \"\
          ok\": False}\n    rules = data.get(\"rules\", [])\n    if not isinstance(rules,\
          \ list):\n        rules = []\n    return {\"rules\": rules, \"total\": len(rules),\
          \ \"ok\": True}\n"
        code_language: python3
        desc: 把后端返回的 JSON 解析成规则数组
        outputs:
          ok:
            children: null
            type: boolean
          rules:
            children: null
            type: array[object]
          total:
            children: null
            type: number
        selected: false
        title: 解析规则JSON
        type: code
        variables:
        - value_selector:
          - '1780000000003'
          - body
          variable: arg1
      height: 52
      id: '1780000000004'
      position:
        x: 990
        y: 300
      positionAbsolute:
        x: 990
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1780000000004'
          - rules
          value_type: array[object]
          variable: rules
        - value_selector:
          - '1780000000004'
          - total
          value_type: number
          variable: total
        selected: false
        title: 结束
        type: end
      height: 116
      id: '1780000000005'
      position:
        x: 1310
        y: 300
      positionAbsolute:
        x: 1310
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
