docs/dify-workflow-规则抽取-稳定版.yml
app:
  description: 长任务稳定版：异步提交抽取 → 服务端长轮询接力等待（每请求≤85s，Cloudflare 永不超时，总计可等约5.5分钟）→ 输出 result_json（前端渲染）+ report_markdown（人读，含三要素）。任务超过接力时长时优雅降级为后台取数地址。
  icon: ⚖️
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 规则抽取（长任务稳定版）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.43@c56cb5159e37b2719559550518312773bb08e11baaf5b791cccf472d272b5438
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .PDF
      - .DOC
      - .DOCX
      - .TXT
      - .MD
      allowed_file_types:
      - document
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 10
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 50
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 5
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 5
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1783000000101-source-1783000000102-target
      source: '1783000000101'
      sourceHandle: source
      target: '1783000000102'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: document-extractor
        targetType: http-request
      id: 1783000000102-source-1783000000103-target
      source: '1783000000102'
      sourceHandle: source
      target: '1783000000103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1783000000103-source-1783000000104-target
      source: '1783000000103'
      sourceHandle: source
      target: '1783000000104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1783000000104-source-1783000000105-target
      source: '1783000000104'
      sourceHandle: source
      target: '1783000000105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1783000000105-source-1783000000106-target
      source: '1783000000105'
      sourceHandle: source
      target: '1783000000106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1783000000106-source-1783000000107-target
      source: '1783000000106'
      sourceHandle: source
      target: '1783000000107'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: http-request
      id: 1783000000107-source-1783000000108-target
      source: '1783000000107'
      sourceHandle: source
      target: '1783000000108'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1783000000108-source-1783000000109-target
      source: '1783000000108'
      sourceHandle: source
      target: '1783000000109'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        iteration_id: ''
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1783000000109-source-1783000000110-target
      source: '1783000000109'
      sourceHandle: source
      target: '1783000000110'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 上传文件（可多选）
          options: []
          required: true
          type: file-list
          variable: files
      height: 116
      id: '1783000000101'
      position:
        x: 30
        y: 300
      positionAbsolute:
        x: 30
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 把上传的 PDF/Word/TXT 提取为纯文本（多文件自动合并）
        is_array_file: true
        selected: false
        title: 提取文档文本
        type: document-extractor
        variable_selector:
        - '1783000000101'
        - files
      height: 92
      id: '1783000000102'
      position:
        x: 350
        y: 300
      positionAbsolute:
        x: 350
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: 9a2b4c6d-1e2f-4a5b-8c9d-0e1f2a3b4c5d
            key: text
            type: text
            value: '{{#1783000000102.text#}}'
          type: form-data
        desc: 异步提交，秒回 batch_id（不阻塞，Cloudflare 安全）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: false
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 60
          max_write_timeout: 30
        title: 提交抽取
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/upload
        variables: []
      height: 130
      id: '1783000000103'
      position:
        x: 670
        y: 300
      positionAbsolute:
        x: 670
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str) -> dict:
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  data = {}
              return {"batch_id": str(data.get("batch_id", ""))}
        code_language: python3
        desc: 取出 batch_id 供后续等待节点拼 URL
        outputs:
          batch_id:
            children: null
            type: string
        selected: false
        title: 解析batch_id
        type: code
        variables:
        - value_selector:
          - '1783000000103'
          - body
          variable: arg1
      height: 52
      id: '1783000000104'
      position:
        x: 990
        y: 300
      positionAbsolute:
        x: 990
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 服务端长轮询1/4：阻塞至完成或80秒（单请求<100s，CF 安全）
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 95
          max_write_timeout: 30
        title: 等待1
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/batches/{{#1783000000104.batch_id#}}/wait?timeout=80&include_rules=false
        variables: []
      height: 130
      id: '1783000000105'
      position:
        x: 1310
        y: 300
      positionAbsolute:
        x: 1310
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 接力2/4（已完成则秒回）
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 95
          max_write_timeout: 30
        title: 等待2
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/batches/{{#1783000000104.batch_id#}}/wait?timeout=80&include_rules=false
        variables: []
      height: 130
      id: '1783000000106'
      position:
        x: 1630
        y: 300
      positionAbsolute:
        x: 1630
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 接力3/4（已完成则秒回）
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 95
          max_write_timeout: 30
        title: 等待3
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/batches/{{#1783000000104.batch_id#}}/wait?timeout=80&include_rules=false
        variables: []
      height: 130
      id: '1783000000107'
      position:
        x: 1950
        y: 300
      positionAbsolute:
        x: 1950
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: 接力4/4：完成时附带完整规则数组
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 2000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 30
          max_read_timeout: 95
          max_write_timeout: 30
        title: 等待4·取结果
        type: http-request
        url: https://api-rules.448898.xyz/api/dify/batches/{{#1783000000104.batch_id#}}/wait?timeout=80&include_rules=true
        variables: []
      height: 130
      id: '1783000000108'
      position:
        x: 2270
        y: 300
      positionAbsolute:
        x: 2270
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          import json

          def main(arg1: str, arg2: str) -> dict:
              base = "https://api-rules.448898.xyz"
              bid = (arg2 or "").strip()
              text = (arg1 or "").strip()
              try:
                  data = json.loads(text)
              except Exception:
                  data = {}

              status = str(data.get("status", ""))
              done = bool(data.get("done"))
              rules = data.get("rules") or []

              status_url = base + "/api/dify/batches/" + bid + "/status" if bid else ""
              rules_url = base + "/api/dify/batches/" + bid + "/rules.json" if bid else ""

              # —— 情形1：提交都没成功 ——
              if not bid:
                  fail_json = json.dumps({
                      "ok": False, "batch_id": "", "status": "failed",
                      "total_rules": 0, "by_risk": {"高": 0, "中": 0, "低": 0},
                      "rules": [], "status_url": "", "rules_url": "",
                      "error": "提交失败：后端未返回 batch_id",
                  }, ensure_ascii=False)
                  return {
                      "ok": False, "batch_id": "", "total_rules": 0,
                      "result_json": fail_json,
                      "report_markdown": (
                          "# 提交失败\n\n后端未返回 batch_id，请检查服务是否在线："
                          "https://api-rules.448898.xyz/health\n\n等待节点原始返回（前300字）：\n\n```\n"
                          + text[:300] + "\n```"
                      ),
                  }

              # —— 情形2：接力等待用尽仍未完成（>5分钟的超长任务）——
              if not done:
                  pend_json = json.dumps({
                      "ok": False, "batch_id": bid, "status": status or "running",
                      "total_rules": 0, "by_risk": {"高": 0, "中": 0, "低": 0},
                      "rules": [], "status_url": status_url, "rules_url": rules_url,
                      "error": "任务仍在后台运行，稍后用 rules_url 获取结果",
                  }, ensure_ascii=False)
                  md = "\n".join([
                      "# 抽取仍在后台进行",
                      "",
                      "- 批次：`" + bid + "`（已接力等待约5分钟，任务尚未完成，后台会继续跑完）",
                      "",
                      "## 稍后获取结果",
                      "",
                      "1. 网页后台（推荐）：https://api-rules.448898.xyz",
                      "2. 查状态：`GET " + status_url + "`",
                      "3. 取规则：`GET " + rules_url + "`（完成后返回规则 JSON）",
                  ])
                  return {
                      "ok": False, "batch_id": bid, "total_rules": 0,
                      "result_json": pend_json, "report_markdown": md,
                  }

              # —— 情形3：完成，输出完整结果 ——
              total = len(rules)
              risk_order = {"高": 0, "中": 1, "低": 2}
              rules_sorted = sorted(
                  rules,
                  key=lambda r: risk_order.get(str(r.get("risk_level", "中")), 1),
              )
              by_risk = {"高": 0, "中": 0, "低": 0}
              for r in rules:
                  lv = str(r.get("risk_level", "中"))
                  by_risk[lv] = by_risk.get(lv, 0) + 1

              slim_rules = []
              for r in rules_sorted:
                  slim_rules.append({
                      "rule_id": r.get("rule_id", ""),
                      "risk_level": r.get("risk_level", ""),
                      "check_item": r.get("check_item", ""),
                      "requirement": r.get("requirement", ""),
                      "notes": r.get("notes", ""),
                      "assumption": r.get("assumption", ""),
                      "behavior_mode": r.get("behavior_mode", ""),
                      "consequence": r.get("consequence", ""),
                      "exception_conditions": r.get("exception_conditions", ""),
                      "keywords": r.get("keywords", []),
                      "theme_key": r.get("theme_key", ""),
                      "rule_type": r.get("rule_type", ""),
                      "source_file": r.get("source_file", ""),
                      "source_excerpt": str(r.get("source_excerpt", ""))[:300],
                      "confidence": round(float(r.get("combined_confidence", 0) or 0), 2),
                      "conflict_flag": r.get("conflict_flag", "无"),
                      "output_target": r.get("output_target", "main"),
                  })
              result_json = json.dumps({
                  "ok": status in ("success", "partial"),
                  "batch_id": bid, "status": status,
                  "total_rules": total, "by_risk": by_risk,
                  "rules": slim_rules,
                  "status_url": status_url, "rules_url": rules_url,
                  "error": None,
              }, ensure_ascii=False)

              lines = []
              lines.append("# 规则抽取报告")
              lines.append("")
              lines.append("- 批次：`" + bid + "`（状态：" + status + "）")
              lines.append(
                  "- 规则总数：**" + str(total) + "**"
                  "（高 " + str(by_risk.get("高", 0))
                  + " / 中 " + str(by_risk.get("中", 0))
                  + " / 低 " + str(by_risk.get("低", 0)) + "）"
              )
              lines.append("- 网页后台：https://api-rules.448898.xyz （查看本批次、导出 CSV、生成 Skill）")
              lines.append("")

              high = [r for r in rules_sorted if str(r.get("risk_level")) == "高"]
              rest = [r for r in rules_sorted if str(r.get("risk_level")) != "高"]

              if high:
                  lines.append("## 一、高风险规则（含三要素）")
                  lines.append("")
                  for i, r in enumerate(high[:100], 1):
                      lines.append(
                          "### " + str(i) + ". " + str(r.get("check_item", ""))
                          + "（`" + str(r.get("rule_id", "")) + "`）"
                      )
                      lines.append("")
                      lines.append("- **审查要求**：" + str(r.get("requirement", "")))
                      if r.get("assumption"):
                          lines.append("- **假定条件**：" + str(r.get("assumption", "")))
                      if r.get("behavior_mode"):
                          lines.append("- **行为模式**：" + str(r.get("behavior_mode", "")))
                      if r.get("consequence"):
                          lines.append("- **法律后果**：" + str(r.get("consequence", "")))
                      if r.get("notes"):
                          lines.append("- 说明：" + str(r.get("notes", "")))
                      lines.append(
                          "- 来源：" + str(r.get("source_file", ""))
                          + "｜置信 " + str(round(float(r.get("combined_confidence", 0) or 0), 2))
                      )
                      lines.append("")

              if rest:
                  lines.append("## 二、中/低风险规则一览")
                  lines.append("")
                  lines.append("| # | 风险 | 检查项 | 审查要求 | 法律后果 |")
                  lines.append("|---|---|---|---|---|")
                  for i, r in enumerate(rest[:200], 1):
                      req = str(r.get("requirement", "")).replace("|", "／").replace("\n", " ")
                      cons = str(r.get("consequence", "")).replace("|", "／").replace("\n", " ")
                      ci = str(r.get("check_item", "")).replace("|", "／")
                      lines.append(
                          "| " + str(i) + " | " + str(r.get("risk_level", ""))
                          + " | " + ci + " | " + req[:120] + " | " + cons[:80] + " |"
                      )
                  if len(rest) > 200:
                      lines.append("")
                      lines.append("（其余 " + str(len(rest) - 200) + " 条见 result_json 或网页后台）")
                  lines.append("")

              if total == 0:
                  lines.append("> 本批未抽取到规则。可能输入为纯背景性文本，")
                  lines.append("> 或被忠实度/占位门拦截——到网页后台查看 skipped/placeholders 明细。")

              return {
                  "ok": status in ("success", "partial"),
                  "batch_id": bid,
                  "total_rules": total,
                  "result_json": result_json,
                  "report_markdown": "\n".join(lines),
              }
        code_language: python3
        desc: 汇总：完成→result_json+报告；未完成→后台取数说明
        outputs:
          batch_id:
            children: null
            type: string
          ok:
            children: null
            type: boolean
          report_markdown:
            children: null
            type: string
          result_json:
            children: null
            type: string
          total_rules:
            children: null
            type: number
        selected: false
        title: 生成结果
        type: code
        variables:
        - value_selector:
          - '1783000000108'
          - body
          variable: arg1
        - value_selector:
          - '1783000000104'
          - batch_id
          variable: arg2
      height: 52
      id: '1783000000109'
      position:
        x: 2590
        y: 300
      positionAbsolute:
        x: 2590
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1783000000109'
          - result_json
          value_type: string
          variable: result_json
        - value_selector:
          - '1783000000109'
          - report_markdown
          value_type: string
          variable: report_markdown
        - value_selector:
          - '1783000000109'
          - total_rules
          value_type: number
          variable: total_rules
        - value_selector:
          - '1783000000109'
          - batch_id
          value_type: string
          variable: batch_id
        - value_selector:
          - '1783000000109'
          - ok
          value_type: boolean
          variable: ok
        selected: false
        title: 结束
        type: end
      height: 190
      id: '1783000000110'
      position:
        x: 2910
        y: 300
      positionAbsolute:
        x: 2910
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
